
body{

	text-align: left;
	font-family: verdana;
	background-image: url("imagens/imagem de fundo landing page.jpg");
	background-size: cover;
	background-position: center;
	
	padding-top: 20px;
	padding-right: 400px;
	padding-left: 500px
	
}
h1 {
	font-size: 56px;
	text-align: left;
	text-shadow: 2px 2px 2px #979797;
	margin-bottom: 10px;
	
}

h2{

	margin-bottom: 10px;
	margin-top: 20px;

}

h3{
	font-size: 30px;
	text-align: left;
	margin-bottom: 70px;
}

h4{
	text-align: left;
}
iframe{
	margin-left: 0px;
    margin-right: auto;
    display: block;
    padding: 0px 0px 50px 0px;

}

a.Facebook{
	position: center;
	text-decoration: none;
	background-color: #3399f7;
	color: white;
	font-size: 20px;
	padding: 10px 10px 10px 10px;
	margin-bottom: 100px;
	border-radius: 3px;

}
.Facebook:hover{
	background-color: #000203;
}
